#body {

	#section {

		#secondary-pages,
		#categories,
		.return {

			ul {

				li {

					margin: 0 0 0 15px;

					&:before { padding: 0 15px 0 0; }

				}

			}

		}

	}

	#primary {

		.map {

			.map-wrap {

				#map_canvas { height: 370px; }

			}

		}

	}

}